*,
*::after,
*::before {
    box-sizing: border-box;
}

/* header navigation */

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.nav-item-center{
    display: flex;
    flex:1;
    justify-content:center;
}

.nav-item-left{
    display: flex;
    flex:1;
    justify-content:left;
}

.nav-item-right{
    display: flex;
    flex:1;
    justify-content:right;
}

/* images */

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    border: 1px blue solid;
}

.multiple-image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3rem;
    border: 1px blue solid;
}


.image-caption {
    align-self: center:
    margin-bottom: 1rem;
}


@media screen and (max-width:800px) {
    .image-caption-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 80vw;
        border: 1px pink solid;
    }

    .gif-caption-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 50vw;
    }

    .gif-border{
        border-radius: 45px;
        border: 12px black solid;
    }

    .multiple-gif-caption-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 17vw;
        border: red 1px solid;
    }

    .multiple-gif-border{
        border-radius: 20px;
        border: 5px black solid;
    }

}


@media screen and (min-width:800px) {
    .image-caption-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 65vw;
    }

    .gif-caption-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 25vw;
    }

    .gif-border{
        border-radius: 37px;
        border: 8px black solid;
    }

    .multiple-gif-caption-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 20vw;
        border: pink 1px solid;
    }

    .multiple-gif-border{
        border-radius: 30px;
        border: 8px black solid;
    }

}

@media screen and (min-width:1200px) {

    .gif-border{
        border-radius: 50px;
        border: 12px black solid;
    }

    .multiple-gif-border{
        border-radius: 50px;
        border: 10px black solid;
    }

}

