*,
*::after,
*::before {
    box-sizing: border-box;
}

/* header navigation */

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.nav-item-center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.nav-item-left {
    display: flex;
    flex: 1;
    justify-content: left;
}

.nav-item-right {
    display: flex;
    flex: 1;
    justify-content: right;
}


/* persona info */

.persona-caption {
    flex: 1 1 auto;
    width: 5rem;
}

.persona-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:1098px) {
    .persona-container {
        display: flex;
        flex-direction: row;
    }

    .persona-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 12rem;
    }
}

@media screen and (max-width:1098px) {
    .persona-container {
        display: flex;
        flex-direction: column;
    }

    .persona-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 18rem;
    }
}

/* feature description/ findings boxes */

@media screen and (min-width:827px){
    .feature-container {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:827px){
    .feature-container {
        display: flex;
        flex-direction: column;
    }
}

.feature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: red 1px solid;
}


.feature-item {
    display: flex;
    flex-direction: column;
    // border: orange 1px solid;
    justify-content: center;
}

.feature-item-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-right: 2rem;
    justify-content: center;
}

.quote-box-width{
    max-width:700px;
}

.challenge-box-width{
    max-width:850px;
}

@media screen and (max-width:900px) {

    .content-inner-box {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (min-width:900px) {

    .content-inner-box {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.content-box-item {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    // border: cyan 1px solid;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem;
}

/* scenario images/boxes */

.scenario-wrapper {
    display: flex;
    flex-direction: column;
    // border: 1px red solid;
}

.scenario-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 1px orange solid;
}

.scenario-item {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.25rem;
}

.scenario-figure {
    width: 12rem;
    margin: 0px;
    padding: 0px;
}

.scenario-img {
    width: 12rem;
    // border: 1px cyan solid;
    margin: 0px;
    padding: 0px;
}

.scenario-text {
    font-size: 0.8rem;
}



/* images */

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiple-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3rem;
    // border: 1px blue solid;
}


.image-caption {
    align-self: center;
    margin-bottom: 1rem;
    // border: 1px red solid;
}

/* cards with gifs */

.card-gif-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-gif-content {
    width: 18vw;
}


@media screen and (max-width:800px) {
    .image-caption-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        width: 80vw;

        img {
            width: 65vw;
        }

        // border: 1px pink solid;
    }

    .gif-caption-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 50vw;
    }

    .gif-border {
        border-radius: 30px;
        border: 8px black solid;
    }

    .card-gif-content {
        width: 25vw;
    }

    .multiple-gif-caption-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 25vw;
        // border: red 1px solid;
    }

    .multiple-gif-border {
        border-radius: 20px;
        border: 5px black solid;
    }

}


@media screen and (min-width:800px) {
    .image-caption-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        width: 65vw;

        img {
            width: 65vw;
        }

    }

    .gif-caption-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 25vw;
    }

    .gif-border {
        border-radius: 32px;
        border: 8px black solid;
    }

    .multiple-gif-caption-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 20vw;
        // border: pink 1px solid;

    }

    .multiple-gif-border {
        border-radius: 30px;
        border: 8px black solid;
    }

}

@media screen and (min-width:1200px) {

    .gif-border {
        border-radius: 40px;
        border: 10px black solid;
    }

    .multiple-gif-border {
        border-radius: 50px;
        border: 10px black solid;
    }

}