body {
  padding: 0;
  margin: 0;
  background-color: #FCFAF7;
  color: #252550;
  font-size: 2rem;
}
body h1 {
  font-family: avenir, helvetica, sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  padding: 0;
}
body h2 {
  font-family: avenir, helvetica, sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
body h3 {
  font-family: avenir, helvetica, sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
body h4 {
  font-family: avenir, helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
body h5 {
  font-family: avenir, helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
body p {
  font-family: avenir, helvetica, sans-serif;
  color: #5E5E9B;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  line-height: 180%;
  margin-top: 1rem;
}
body p a:hover, body p a:active, body p a:focus, body p a:visited {
  font-family: avenir, helvetica, sans-serif;
  color: #3478F6;
}
body ul {
  font-family: avenir, helvetica, sans-serif;
  color: #5E5E9B;
  font-size: 1rem;
  padding-left: 1.5rem;
  margin-top: 1rem;
  line-height: 200%;
}
body .standout-p {
  font-size: 1.5rem;
}
body figcaption {
  margin-top: 1rem;
  font-family: avenir, helvetica, sans-serif;
  color: #5E5E9B;
  font-size: 1rem;
}
body figcaption a:hover, body figcaption a:active, body figcaption a:focus, body figcaption a:visited {
  font-family: avenir, helvetica, sans-serif;
  color: #3478F6;
}
body .quote {
  font-weight: 500;
  font-size: 1.7rem;
  color: #252550;
}
body .persona-quote {
  font-weight: 500;
  font-size: 1.5rem;
  color: #252550;
}
body a {
  font-family: avenir, helvetica, sans-serif;
}
body .button {
  text-align: center;
  font-family: avenir, helvetica, sans-serif;
  font-weight: 900;
  background-color: #F2F2F6;
  color: #3478F6;
  font-size: 1.5rem;
  display: block;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  width: 22rem;
}
body .button:focus, body .button:hover, body .button:active {
  background-color: #FCFAF7;
}
body figure {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
header {
  color: #FCFAF7;
  background-color: #252550;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
header a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
header a:hover, header a:focus, header a:active {
  color: white;
  text-decoration: underline;
  color: #FCFAF7;
}
header a:hover .site-title, header a:focus .site-title, header a:active .site-title {
  text-decoration: none;
}
header .selected-link {
  text-decoration: underline;
  font-weight: 500;
}
header .site-title {
  color: white;
  font-size: 1.6rem;
  font-weight: 900;
}

footer {
  color: #FCFAF7;
  background-color: #252550;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
footer p {
  color: #FCFAF7;
}

/* spacing */
.wrapper {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2rem;
  background-color: white;
  border-radius: 30px;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.section-wrapper {
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bottom-margin {
  margin-bottom: 5rem;
}

.bottom-padding {
  padding-bottom: 5rem;
}

/* dropdown */
/* used this as reference https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover */
.dropbtn {
  font-family: avenir, helvetica, sans-serif;
  font-weight: 900;
  background-color: #F2F2F6;
  color: #3478F6;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.dropdown-content a {
  color: #252550;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #F2F2F6;
}

/* background colour */
.tint-blue-bg {
  background-color: #F2F2F6;
  border-radius: 30px;
}

.light-tan-bg {
  background-color: #F5F4F0;
  border-radius: 30px;
}