$off-white: #FCFAF7;
$tint-blue: #F2F2F6;
$light-blue: #B2B2CB;
$mid-blue: #8787B4;
$dark-blue: #5E5E9B;
$deep-blue:#252550;

$accent-blue: #3478F6;
$accent-pink:#D23E62;

body{
    padding:0;
    margin:0;

    background-color:$off-white;
    color:$deep-blue;
    font-size:2rem;

    h1{
        font-family: avenir, helvetica, sans-serif;
        font-weight: 900;
        font-size:3.5rem;
        padding:0;
        margin-bottom:1rem;
    }
    
    h2{
        font-family: avenir, helvetica, sans-serif;
        font-weight: 900;
        font-size:2rem;
    }
    
    h3{
        font-family: avenir, helvetica, sans-serif;
        font-weight: 500;
        font-size:1.7rem;
    }
    
    h4{
        font-family: avenir, helvetica, sans-serif;
        font-weight: 500;
        font-size:1.3rem;
    }
    
    h5{
        font-family: avenir, helvetica, sans-serif;
        font-weight: 500;
        font-size:1.2rem;

    }
    
    p{
        font-family: avenir, helvetica, sans-serif;
        color:$dark-blue;
        font-size:1rem;
        max-width:600px;
        padding:0;
        margin:0;

        a:hover, a:active, a:focus, a:visited{
            font-family: avenir, helvetica, sans-serif;
            color:$accent-blue;
        }
    }

    figcaption{
        margin-top:0.5rem;
        font-family: avenir, helvetica, sans-serif;
        color:$dark-blue;
        font-size:1rem;

        a:hover, a:active, a:focus, a:visited{
            font-family: avenir, helvetica, sans-serif;
            color:$accent-blue;
        }
    }

    .quote{
        font-weight:500;
        font-size:2rem;
        color:$deep-blue;
    }

    .persona-quote{
        font-weight:500;
        font-size:1.5rem;
        color:$deep-blue;
    }

    a{
        font-family: avenir, helvetica, sans-serif;
    }


    .button {
        text-align: center;
        font-family: avenir, helvetica, sans-serif;
        font-weight:900;
        background-color: $tint-blue;
        color: $accent-blue;
        font-size: 1.5rem;
        display:block;
        border-radius: 0.5rem;
        padding:1rem;
        border:0px;

        margin-bottom: 1rem;
        margin-top: 2rem;
        transition: background-color 0.25s ease-in-out;
        width: 22rem;
    }

    .button:focus, .button:hover, .button:active{
        background-color: $off-white;
    }

    figure{
        margin-top:4rem;
        margin-bottom:4rem;
    }

    blockquote{
        max-width:50rem;
    }

    .quote-caption{
        max-width:30rem;
    }

}

header{
   color:$off-white;
   background-color:$deep-blue;
   padding-left:5vw;
   padding-right:5vw;
   padding-top:2rem;
   padding-bottom:2rem;

   a{
    color:white;
    font-size:1.3rem;
    text-decoration:none;
   }

   a:hover, a:focus, a:active{
    color:white;
    text-decoration:underline;
    color:$off-white;

    .site-title{
        text-decoration:none;
       }
   }

   .selected-link{
    text-decoration:underline;
    font-weight:500;
   }

   .site-title{
    color:white;
    font-size:1.6rem;
    font-weight:900;
   }
}

footer{
    color:$off-white;
    background-color:$deep-blue;
    padding-left:5vw;
    padding-right:5vw;
    padding-top:2rem;
    padding-bottom:2rem;

    p{
        color:$off-white;
    }
 }



 /* spacing */
 .wrapper{
    margin-left:5vw;;
    margin-right:5vw;
    margin-top:2rem;
    background-color: white;
    border-radius:30px;
    // padding-right:10rem;
    // padding-left:10rem;
    padding-top:1rem;
    margin-bottom:3rem;
 }

 .section-wrapper{
    margin-left:8vw;
    margin-right:8vw;
    margin-top:1rem;
    margin-bottom:1rem;
    // border: orange 1px solid;
 }

 .bottom-margin{
    margin-bottom:5rem;
 }

 .bottom-padding{
    padding-bottom:5rem;
 }

 /* image */

 .persona-img{
    display: flex;
    flex-direction: column;
    justify-content:center;
    // margin-bottom: 1rem;
    width: 10rem;
    border: 1px pink solid;
}


 .persona-caption{
    flex: 1 1 auto;
    width:5rem;
 }